:root {
    --cor-primaria: #EE952C;
    --cor-secundaria: #FFFFFF;
    --cor-da-fonte: #9F9797;
    --cor-de-fundo: #FCF5EF;
    --cor-preta: #000;
    font-size: 16px;
    --fonte-pequena: 16px;
    --font-media: 24px;
    --font-grande: 32px;
    font-family: sans-serif;    

}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
header, footer {
    width: 100vw;
    height: 10vh;
    position: sticky;
    background-color: green;
}


h2 {
    font-size: var(--font-grande);
    color: var(--cor-preta);   
    margin: 4rem 0 2.5rem 20rem;
}

.produtos {
    display: grid;
    grid-template-columns: repeat(3, 400px);
    grid-template-rows: repeat(2, auto);
    justify-content: center;
    gap: 1.5rem;      
    text-align: center; 
    margin-bottom: 2rem;
}

.produtos-itens img {
    width: 200px;
    margin-top: 1rem;
}

.produtos-itens{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--cor-de-fundo);
    border-radius: 1.5rem;   
}
.produtos-itens p{
    align-self: flex-start;
    padding-bottom: 1rem;
    padding-left: 4rem;
}

.produtos-itens-descricao {
    font-size: var(--fonte-pequena);
    margin-top: 1rem;
}
.produtos-itens-quant {
    font-size: var(--fonte-pequena);
    color: var(--cor-da-fonte);
}
.produtos-itens-preco {
    font-size: var(--font-media);
    color: var(--cor-primaria);
}

.produtos-itens a {
    text-decoration: none;
    color: var(--cor-secundaria);
    background-color: var(--cor-primaria) ;
    padding: 1rem 5rem;
    margin-bottom: 1rem;
    border-radius: 1rem;
    font-size: var(--font-media);
}


.produtos-itens a:hover {
    transform: scale(1.1);
    transition: transform .4s ease-in-out;
}

@media (min-width: 721px) and (max-width: 1200px){
    h2 {
        margin: 4rem 0 2.5rem 0;
    }
    .produtos {
        display: grid;
        gap: 10px;
        grid-template-columns: 1fr 1fr;
    }
    .produtos-itens > p{
        font-size: var(--fonte-pequena);
    }
    .produtos-itens-preco {
        font-size: var(--font-media);
    }
    .produtos-itens:hover {
        transform: scale(1.05);
        transition: transform .4s ease-in-out;
    }
}

@media (max-width: 720px) {
    h2 {
        margin: 4rem 0 2.5rem 0;
    }
    .produtos {
        display: grid;
        gap: 10px;
        grid-template-columns: 1fr 1fr;
    }
    .produtos-itens > p{
        font-size: var(--fonte-pequena);
    }
    .produtos-itens-preco {
        font-size: var(--font-media);
    }
    .produtos-itens:hover {
        transform: scale(1.05);
        transition: transform .4s ease-in-out;
    }
}