/* Configurações iniciais */

:root {
  --cor-primaria: black;
  --cor-secundaria: white;
  --fonte-pequena: 16px;
  --font-media: 24px;
  --font-grande: 32px;
}

* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

body {
  font-size: var(--fonte-pequena);
  background-color: var(--cor-secundaria);
  font-family: "Poppins", sans-serif;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

/*  NAVBAR */

.menu {
  max-width: 1080px;
  margin: 0 auto;
  padding: 15px 0;
  display: flex; /* nesses caso, deixa o nav como flex-items, mas não a ul dentro dela. o .menu é o pai e o .nav é o filho */
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center; /* alinha ao centro na altura */
}

.menu-logo a img {
  width: 50%;
}

.menu-nav ul {
  display: flex; /* é o pai, e agora os li viraram flex-items */
  flex-wrap: wrap; /* para quebrar e caber qnd diminuir a tela */
}

.menu-nav a {
  font-size: (var(--font-grande));
  display: block; /* pq por padrão o a é inline, e eu quero que o padding pegue em todos os lados */
  padding: 10px;
  color: (var(--cor-primaria));
}

/* NAVBAR - ANIMAÇÃO */

.menu-nav a:hover {
  color: #ee952c;
}

/* RESPONSIVIDADE */

@media (max-width: 1068px) {
  .menu-logo {
    width: 100%;
    text-align: center;
  }

  .menu-logo a img {
    width: 30%;
  }

  .menu-nav {
    width: 100%;
    display: flex;
    justify-content: center;
  }
}

@media (max-width: 440px) {
  .menu-nav a {
    font-size: (var(--fonte-pequena));
    padding: 3px;
  }
}
